h1 {
  color: #ff9a76;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 150px;
}
h2 {
  color: #006a71;
  font-size: 20px;
  font-style: italic;
  margin: 0 10px 0 0;
}
h3 {
  color: #ff9a76;
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: 400;
  font-size: 30px;
  display: inline-block;
  margin-top: 0;
}
.container {
  background-color: #faf3dd;
  padding: 10px 20px;
  margin: 30px auto;
  border-radius: 5px;
  max-width: 60%;
}
.temperature {
  padding: 0px 5px 0 0;
  display: inline-block;
}
.mainTemp {
  padding: 10px 30px 0 10px;
  display: inline-block;
}

.cityName {
  display: inline;
}
.city-search {
  padding: 3px, 6px;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 40px;
  outline: 0;
  display: inline;
}

.btn-primary {
  background-color: #68b0ab;
  height: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
}
.current {
  background-color: #68b0ab;
  color: #fff;
  border-radius: 5px;
  height: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: none;
}
.units {
  color: #ff9a76;
  size: 75px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 75px;
  display: inline-block;
}
.units:hover {
  color: #fc4205;
  display: inline-block;
}
.btn-primary:hover {
  background-color: #a3ddd9;
}
.current:hover {
  background-color: #a3ddd9;
}
